<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>

<body>
    <h1>Login Page</h1>
    <form action="/login" method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required /><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required /><br><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="/register">Register</a></p>

    <%- include('partials/footr') %>
</body>

</html>